*{
    margin: 0;
    padding:0;
}

.cabeçalho {
    background-color: #64C2B2;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 25%;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24pxs;
}
.Olá-imagem{
    width: 70%;
}
.Olá{
    background-image: linear-gradient(#177D8B,#AE18F4);
    color: white;
    display: flex;
}